.container {
  // width: @mobile-box;
  margin: 0 auto 60px auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .container {
    // box-sizing: border-box;
    // width: @tablet-width;
    padding: 0 55px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    // width: @desktop-width;
    padding-left: 165px;
    padding-right: 155px;
  }
}